einops==0.8.1
gradio==5.27.0
gsplat==1.4.0
huggingface_hub==0.27.0
imageio==2.36.1
matplotlib==3.10.1
nerfview==0.0.2
numpy==1.24.3
onnxruntime==1.21.1
open3d==0.18.0
opencv_python==4.8.1.78
Pillow==11.2.1
plyfile==1.1
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.9.1
torch==2.0.1+cu117
torchmetrics==1.6.1
torchvision==0.15.2+cu117
tqdm==4.67.1
trimesh==4.5.3
typing_extensions==4.13.2
tyro==0.9.19
viser==0.2.1
